:root {
  --color: #212121;
  --second-color: #2196f3;
  --back-color: #ffffff;
  --header-foter: #2f303a;
  --color-text: #757575;
  --button-secondary: #f5f4fa;
  --color-icon: #afb1b8;
}

body {
  font-family: Roboto, sant-serif;
  --color: #212121;
  --color-text: #757575;
  --background-color: #ffffff;
  --secondary-color: #2196f3;
  --card-set-gup: 30px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
img {
  display: block;
  max-width: 100%;
}
/*=====header begin=====*/
.headrer-conteiner {
  display: flex;
  align-items: center;
}
.page-header {
  padding: 25px 0;
  border-bottom: 1px solid green;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.nav-bar {
  margin-right: auto;
  display: flex;
  align-items: center;
}
.contact-list {
  display: flex;
}
.logo {
  margin-right: 93px;
  align-self: center;
  text-decoration: none;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #212121;
}
.web {
  color: #2196f3;
}
.navigation {
  display: flex;
  color: var(--color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.navigation-li:not(:last-child) {
  margin-right: 50px;
}
.link,
.accent {
  display: block;
  color: var(--color);
  text-decoration: none;
}
.accent {
  margin-left: 0;
  margin-top: 0;
}
.accent:visited,
:hover {
  color: var(--second-color);
}
.contact-item:not(:last-child) {
  margin-right: 50px;
}
.contact-item {
  fill: var(--color-text);
  color: var(--color-text);
}
.contact-header-mail,
.contact-header-tel {
  text-decoration: none;
}
.header-svg {
  margin-right: 10px;
}
.contact-header-mail,
.contact-header-tel {
  color: var(--color-text);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  fill: var(--color-text);
}
.contact-header-mail:hover,
.contact-header-mail:focus,
.contact-header-tel:hover,
.contact-header-tel:focus {
  color: var(--second-color);
  fill: var(--second-color);
}
/*=====header end=====*/

/*=====main begin=====*/

/*====section-main-slogan-begin=====*/

.slogan {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Img_hero_v_2.jpg);
  background-repeat: no-repeat;
  background-position: center;

  padding: 200px 0;
  background-color: var(--header-foter);
}

.slogan-site {
  color: var(--back-color);
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
button.button {
  padding: 10px 32px;
  color: var(--back-color);
  background-color: var(--second-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
/*====section-main-slogan-end=====*/

/*====section-main-about-begin=====*/
.services {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-title {
  margin-bottom: 50px;
  color: var(--color);
  text-align: center;

  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.benefits {
  padding-top: 94px;
}
.benefits-list {
  display: flex;
}
.services-list {
  display: flex;
}
.services-item:not(:last-child) {
  margin-right: 30px;
}
.benefits-item:not(:last-child) {
  margin-right: 30px;
}
.benefits-item {
  width: 270px;
}
.benefits-item::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-color: var(--button-secondary);
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}
.benefits-item:nth-child(1)::before {
  background-image: url(../imagescvg/antenna1.svg);
}
.benefits-item:nth-child(2)::before {
  background-image: url(../imagescvg/clock1.svg);
}
.benefits-item:nth-child(3)::before {
  background-image: url(../imagescvg/diagram1.svg);
}
.benefits-item:nth-child(4)::before {
  background-image: url(../imagescvg/astronaut1.svg);
}

.advantage {
  color: var(--color);
  padding-top: 30px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.advantage-text {
  color: var(--color-text);

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
/*=====section-main-about-end=====*/

/*=====section-imege-begin=====*/
.services-item {
  position: relative;
}
.sevice-products {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 370px;
  height: 70px;
  align-items: center;
  justify-content: center;
  padding: 27px, 82px;
  background: rgba(47, 48, 58, 0.8);
}
.sevice-product {
  color: var(--back-color);

  font-size: 14px;
  line-height: 1.14;

  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
/*=====section-imege-end=====*/

/*=====sectiom-team-begin=====*/
.team {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--button-secondary);
  justify-content: center;
}
.team-member {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--back-color);
}
.team-member:not(:last-child) {
  margin-right: 30px;
}
.team-list {
  display: flex;
}
.team-box {
  padding: 30px 0;
}
.member-name {
  margin-bottom: 10px;
  color: var(--color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.member-position {
  color: var(--color-text);

  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
/*==========SOCIAT ICON=============*/

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.social-icon {
  display: flex;
  background-color: var(--back-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.social-icon:not(last-child) {
  margin-right: 10px;
}
.social-icon:hover {
  background-color: var(--second-color);
}
.social-net {
  display: flex;
  background-color: var(--back-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  fill: var(--color-icon);
}
.social-net:hover,
.social-net:focus {
  fill: var(--back-color);
  background-color: var(--second-color);
}
/*=====sectiom-team-end=====*/
/*==============CLIENTS_BEGIN================*/
.clients {
  width: 1170px;
  height: 372px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}
.client-icons {
  display: flex;
}
.client-icon {
  width: 170px;
  height: 92px;
  /*border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: flex-end;
  margin-right: 30px;*/
}
.client-icon:not(last-child) {
  margin-right: 30px;
}
/*.client-icon:hover {
  border-color: var(--second-color);
}*/
.icon-logo {
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--color-icon);
}
.icon-logo:hover,
.icon-logo:focus {
  fill: var(--second-color);
  border-color: var(--second-color);
}
/*==============CLIENTS_END================*/

/*=====main end=====*/

/*=====PORTFOLIO BEGIN=====*/
.all-btn {
  padding-top: 94px;
  padding-bottom: 94px;
}
.btn-portfolio {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.buttons:not(:last-child) {
  margin-right: 8px;
}
.buttons {
  height: 38px;
}
.button-primery {
  color: var(--back-color);
  background-color: var(--second-color);

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.button-secondary {
  color: var(--color);
  background-color: var(--button-secondary);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
}
.button-secondary:hover,
.button-secondary:focus {
  color: var(--back-color);
  background-color: var(--second-color);
}
.button-primery,
.button-secondary {
  padding-left: 22px;
  padding-right: 22px;
}
.button,
.button-primery,
.button-secondary {
  cursor: pointer;
  border-color: transparent;
}
.projects {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;

  margin-left: calc(-1 * var(--card-set-gup));
  margin-top: calc(-1 * var(--card-set-gup));
}
.projects > .visualization {
  flex-basis: calc(100% / 3 -var(--card-set-gup));
  margin-left: var(--card-set-gup);
  margin-top: var(--card-set-gup);
}
.visualization * {
  background: var(--back-color);
}
.team-box {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.title {
  border: none;

  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: var(--color);
}
.sorting {
  margin-top: 4px;
  color: var(--color-text);
  border: none;

  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}
.projects-icon {
  display: block;
  text-decoration: none;
}
.projects-icon:hover,
.projects-icon:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/*=====PORTFOLIO END=====*/

/*=====footer-begin=====*/
.logo-footer {
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--header-foter);
  justify-content: start;
}
.footer-container {
  display: flex;
  align-items: space-align;
}
.logo-web {
  display: block;
  margin-bottom: 30px;
  color: var(--back-color);
  text-decoration: none;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.web-footer {
  color: var(--second-color);
}
.address {
  color: var(--back-color);

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.74;
  letter-spacing: 0.03em;
}
.contact-section {
  list-style: none;
}
.contact-footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.contact-section-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.propose {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--back-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--back-color);
}

/*=======BLOCK_2_FOOTER============*/

.footer-soc-net {
  margin-left: 70px;
}
.social-icons-footer {
  display: flex;
  width: 100%;
  height: 90px;
}
.social-icon-footer:nth-child(1) {
  margin-left: 0;
}
.social-icon-footer {
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.social-net-footer {
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  fill: var(--back-color);
}
.social-net-footer:hover,
.social-net-footer:focus {
  fill: var(--back-color);
  background-color: var(--second-color);
}

/*=====footer-end=====*/
/**/
/**/
